.searchPage {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.icon {
  width: 10px;
  height: 10px;
}

.form {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 5px;
  border: 2px solid black;
}

.button {
  border: 0;
  margin: 5px 5px 0px 0px;
}

.input {
  width: 80%;
  height: 40px;
  border: 0;
}
