.issue {
  border: 1px solid black;
  width: 18vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  padding-bottom: 20px;
  margin: 0px 10px;
}

.description {
  margin-bottom: 20px;
}
